<!DOCTYPE html>
<html>
 
<head>
    <title>Awesome Flask Website</title>
</head>
 
<body>
    <h1> Flask rules!! HTML is easy!</h1>
    <h2>Random Number fun: Would you like a small random number or a big random number?</h2>

    <a href="/rand/1/10">
      <button>A Small Random Number</button>
    </a>

    &nbsp &nbsp &nbsp
    
    <a href="/rand/1000/2000">
      <button>A Big Random Number</button>
    </a>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=cBRbpRTjW41Btz65&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
    <br>
    <form>

    </form>
</body>
 
</html>
