<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Populations!!!</title>
</head>
<body style=background-color:#fbfcd9>
    <h1>Here are the top five cities in the state you entered:</h1>
    <p>1. {{ city1[0] }}, with a population of {{ city1[2] }}</p>
    <p>2. {{ city2[0] }}, with a population of {{ city2[2] }}</p>
    <p>3. {{ city3[0] }}, with a population of {{ city3[2] }}</p>
    <p>4. {{ city4[0] }}, with a population of {{ city4[2] }}</p>
    <p>5. {{ city5[0] }}, with a population of {{ city5[2] }}</p>
</body>
</html>