<head>
    <link rel="stylesheet" href="/static/example.css">
    <script src="/static/example.js"></script>

    <style>
        body {
            background-image: url('/static/images/Earth Horizon.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>

<body>
    <h1 class="my-class" id="hello">
    Hello World!
    </h1>

    <p class="center-para">
        {{someText}}
    </p>

    <p class="center-para">
        <button class="big-button" onclick="changeColor()">
            Change Color
        </button>
    </p>
    <br>
    <p class="cool-para">
        Okay guys, time to do something cool.
        Do you want to know what time it is?
    </p>
    <p>
        <button onclick="displayTime()">
            Well, it's your lucky day! Click this button to know what time it is!
        </button>
    </p>
    <p class="time" id="time">
    </p>
</body>
