p {
  color: white;
  text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}

.my-class{
  text-align: center;
  color: blue;
}

.center-para{
  text-align: center;
  margin-top: 20px;
}

.big-button{
  font-size: large;
}

.time {
  font-size: large;
  font-family: sans-serif;
  background-color: black;
  color: lightskyblue;
}